@charset "utf-8";

body {
    background-color: #eeeeee;
}

section {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: rgb(46, 123, 95);
    text-align: center;

}

.service-box {
    display: flex;
    padding: 20px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color: rgb(46, 123, 95);
    text-align: left;
    border-left: 5px solid rgb(46, 123, 95);
    margin: 20px 0 10px 3px;
}

.box {
    background-color: white;
    padding: 0 auto;

}

@media screen and (min-width: 400px) {
    .service-box {
        flex-direction: column;
        text-align: left;
    }
}