@charset "utf-8";

body {
    background: gray;
}

header {
    position: relative;
}

.header_slider img {
    width: 100%;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 227px;
}

.pc_nav ul {
    display: flex;
    gap: 54px;
}

.pc_nav ul li {
    width: 105px;
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

section {
    background-color: #e8d9bf;
}

.catch_en {
    padding: 96px 0 48px 0;
    font-size: 30px;
    text-align: center;
}

.catch_ja_main {
    font-size: 82px;
    text-align: center;
    line-height: 96px;
}

.catch_ja_sub {
    padding: 48px 96px;
    font-size: 23px;
    text-align: center;
    line-height: 38px;
}

.about_us {
    display: flex;
    justify-content: center;
    align-items: center;
}



.about_us_pic img {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 560px;
    object-fit: cover;
    border-bottom-right-radius: 83px;


}

.about_us_ex img {
    width: 273px;
    height: 78px;
    margin: 0 80px;
}

.coffee {
    font-size: 44px;
    line-height: 61px;
    text-align: left;
}

.coffee_ex {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    width: 410px;
    height: 293px;
}